
body

{
    background-color: rgb(128, 128, 128);
    font-family: verdana;
    font-size: 20px;
    color: white;
    
}

h2
{
    color: lime;
    font-family: verdana;
    font-size: 30x;
    
}

h8
{
    color: lime;
    font-family: verdana;
    font-size: 50px;
    
}

